<div class="container">
    <div class="media-container-row img-media">
        <div class="col-12 col-md-6 col-lg-4 meida-block">
            <div class="img-block">
                <img src="assets/images/sanskara-square.png" width="238" height="200" >
            </div>
            <div>
                <h4 class="media-header">RIGHT ATTITUDE</h4>
                <p class="media-para">Fairs, sports tournaments, family quizzes and food festivals will be held in parks, squares, courtyards, squares.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 meida-block">
            <div class="img-block">
                <img src="assets/images/om-square.png" width="238" height="200" >
            </div>
            <div>
                <h4 class="media-header">TEAM SPIRIT</h4>
                <p class="media-para">Urban festival of surf culture, which for the second time will be held in the open air in the center.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 meida-block">
            <div class="img-block">
                <img src="assets/images/seve-square.png" width="238" height="200" >
            </div>
            <div>
                <h4 class="media-header">SELFLESS SERVICE</h4>
                <p class="media-para">The only city festival dedicated to the life and responsible keeping of dogs in the megalopolis.</p>
            </div>
        </div>
    </div>
</div>