<div class="row sticky-nav">
    <div class="col-md-6 logo-float">
        <a href="./home">
            <img src="assets/images/spyss-logo-128.png" height="80" width="80" id="imgNav">
        </a>
    </div>
    <div class="col-md-6 nav-right">
        <button mat-button class="header-font" routerLink="/home" routerLinkActive="active"
            (click)="home()">HOME</button>
        <button mat-button [matMenuTriggerFor]="aboveMenu" class="header-font">ABOUT US
            <i class="fa fa-caret-down"></i>
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item (click)="common()" routerLink="/about" routerLinkActive="active">About SPYSS</button>
            <button mat-menu-item (click)="common()">How Unique we are</button>
            <button mat-menu-item (click)="common()">Logo Implication</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="belowMenu" class="header-font">BRANCHES
            <i class="fa fa-caret-down"></i>
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="common()">Search for your nearest branch</button>
            <button mat-menu-item (click)="common()" routerLink="/Branches-list">Branch list</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu" class="header-font">GALLERY
            <i class="fa fa-caret-down"></i>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="common()">Children</button>
            <button mat-menu-item (click)="common()">Youth</button>
            <button mat-menu-item (click)="common()">Working professionals</button>
            <button mat-menu-item (click)="common()">Women</button>
            <button mat-menu-item (click)="common()">Theraphy</button>
            <button mat-menu-item (click)="common()">Senior citizens</button>
            <button mat-menu-item (click)="common()">National</button>
            <button mat-menu-item (click)="common()">International</button>
        </mat-menu>


        <button mat-button [matMenuTriggerFor]="afterMenu" class="header-font">EVENTS
            <i class="fa fa-caret-down"></i>
        </button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item (click)="common()" routerLink="/UpcomingEvents">Upcoming Events</button>
            <button mat-menu-item (click)="common()" routerLink="/PreviousEvents">Previous Events</button>
        </mat-menu>

        <button mat-button class="header-font" routerLink="/contact" routerLinkActive="active"
            (click)="common()">CONTACT US</button>
        <button mat-button class="sign-button" id="signup" (click)="openDialog()"> Sign Up</button>
    </div>

</div>
<ng-template #login>
    <form class="example-form" *ngIf = "forgot">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email or Phone no" type="text" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="Password" required>
        </mat-form-field>
        <button mat-button class="login-button" id="login"> Login</button>
        <div>
            <a (click)="Forgot(false)" class="login-link-forgot">
                Forgot password?
            </a>
            <a (click)="common()" routerLink="/register">
                Create an account
            </a>
        </div>
    </form>
    <form class="example-form" *ngIf = "!forgot">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email" required>
        </mat-form-field>
        <button mat-button class="login-button" id="submit"> Submit</button>
        <div>
            <a (click)="Forgot(true)" class="login-link-forgot">
                Back to Signin
            </a>
            <a routerLink="/register" (click)="common()">
                Create an account
            </a>
        </div>
    </form>
</ng-template>