<div class="row">
    <div class="col-md-12 header-bar">
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" mdbStickyHeader>
            <mdb-navbar-brand><a class="navbar-brand" href="#">

                </a>
                <div class="col-md-3 logo-float">
                    <a href="./">
                        <img src="assets/images/spyss-logo-128.png" height="80" width="80" class="logo-class">
                    </a>
                </div>
                <div class="col-md-9 nav-right">
                        <ul class="nav-dropdown nav-right" data-app-modern-menu="true">
                            <a href="index.html" class="nav-link-header  text-black">HOME</a>
                            <div class="dropdown nav-item-header">
                                <button class="dropbtn">ABOUT US
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#">About SPYSS</a>
                                    <a href="#">How Unique we are</a>
                                    <a href="#">Logo Implication</a>
                                </div>
                            </div>
                            <div class="dropdown nav-item-header">
                                <button class="dropbtn">BRANCHES
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#">Search for your nearest branch</a>
                                    <a href="#">Branch list</a>
                                </div>
                            </div>
                            <div class="dropdown nav-item-header">
                                <button class="dropbtn">GALLERY
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="#">Children</a>
                                    <a href="#">Youth</a>
                                    <a href="#">Working professionals</a>
                                    <a href="#">Women</a>
                                    <a href="#">Theraphy</a>
                                    <a href="#">Senior citizens</a>
                                    <a href="#">National</a>
                                    <a href="#">International</a>
                                </div>
                            </div>
                            <div class="dropdown nav-item-header">
                                <button class="dropbtn">EVENTS
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <div class="dropdown-right">Priliminary camp
                                        <i class="fa fa-caret-right"></i>
                                        <div class="dropdown-content-right">
                                            <a href="#">Children</a>
                                            <a href="#">Youth</a>
                                            <a href="#">Working professionals</a>
                                            <a href="#">Women</a>
                                            <a href="#">Theraphy</a>
                                            <a href="#">Senior citizens</a>
                                            <a href="#">National</a>
                                            <a href="#">International</a>
                                        </div>
                                    </div>
                                    <div class="dropdown-right">Prantha
                                        <i class="fa fa-caret-right"></i>
                                        <div class="dropdown-content-right">
                                            <a href="#">Children</a>
                                            <a href="#">Youth</a>
                                            <a href="#">Working professionals</a>
                                            <a href="#">Women</a>
                                            <a href="#">Theraphy</a>
                                            <a href="#">Senior citizens</a>
                                            <a href="#">National</a>
                                            <a href="#">International</a>
                                        </div>
                                    </div>
                                    <div class="dropdown-right">Atmanu Sandana
                                        <i class="fa fa-caret-right"></i>
                                        <div class="dropdown-content-right">
                                            <a href="#">Brahmacharya</a>
                                            <a href="#">Gruhasta</a>
                                            <a href="#">Vanaprastha</a>
                                            <a href="#">Sanyasa</a>
                                        </div>
                                    </div>
                                    <a href="#">Work Shops</a>
                                    <a href="#">Sahal</a>
                                    <a href="#">Matru Bhojan</a>
                                    <a href="#">Sneha Milan</a>
                                    <a href="#">Satsang</a>
                                    <a href="#">Tracking</a>
                                    <a href="#">Our Events</a>
                                </div>
                            </div>
                            <a class="nav-link-header text-black">CONTACT US</a>
                            <a class="nav-link-header text-black">Language</a>
                            <div class="dropdown nav-item-header">
                                <button class="sign-button">Sign in</button>
                            </div>
                        </ul>
                    </div> 
            </mdb-navbar-brand>
        </mdb-navbar>
    </div>
</div>