<div class="row sticky-nav">

    <div class="col-md-6 logo-float">
        <a href="./">
            <img src="assets/images/spyss-logo-128.png" height="80" width="80" id="imgNav">
        </a>
    </div>
    <div class="col-md-6 nav-right">
        <button mat-button class="header-font">HOME</button>
        <button mat-button [matMenuTriggerFor]="aboveMenu" class="header-font">ABOUT US
            <i class="fa fa-caret-down"></i>
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item>About SPYSS</button>
            <button mat-menu-item>How Unique we are</button>
            <button mat-menu-item>Logo Implication</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="belowMenu" class="header-font">BRANCHES
            <i class="fa fa-caret-down"></i>
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Search for your nearest branch</button>
            <button mat-menu-item>Branch list</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu" class="header-font">GALLERY
            <i class="fa fa-caret-down"></i>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item>Children</button>
            <button mat-menu-item>Youth</button>
            <button mat-menu-item>Working professionals</button>
            <button mat-menu-item>Women</button>
            <button mat-menu-item>Theraphy</button>
            <button mat-menu-item>Senior citizens</button>
            <button mat-menu-item>National</button>
            <button mat-menu-item>International</button>
        </mat-menu>


        <button mat-button [matMenuTriggerFor]="afterMenu" class="header-font">EVENTS
            <i class="fa fa-caret-down"></i>
        </button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item [matMenuTriggerFor]="priliminary">Priliminary camp</button>
            <mat-menu #priliminary="matMenu" yPosition="below">
                <button mat-menu-item>Children</button>
                <button mat-menu-item>Youth</button>
                <button mat-menu-item>Working professionals</button>
                <button mat-menu-item>Women</button>
                <button mat-menu-item>Theraphy</button>
                <button mat-menu-item>Senior citizens</button>
                <button mat-menu-item>National</button>
                <button mat-menu-item>International</button>
            </mat-menu>
            <button mat-menu-item [matMenuTriggerFor]="Prantha">Prantha</button>
            <mat-menu #Prantha="matMenu" yPosition="below">
                <button mat-menu-item>Children</button>
                <button mat-menu-item>Youth</button>
                <button mat-menu-item>Working professionals</button>
                <button mat-menu-item>Women</button>
                <button mat-menu-item>Theraphy</button>
                <button mat-menu-item>Senior citizens</button>
                <button mat-menu-item>National</button>
                <button mat-menu-item>International</button>
            </mat-menu>
            <button mat-menu-item [matMenuTriggerFor]="Atmanu">Atmanu Sandana</button>
            <mat-menu #Atmanu="matMenu" yPosition="below">
                <button mat-menu-item>Brahmacharya</button>
                <button mat-menu-item>Gruhasta</button>
                <button mat-menu-item>Vanaprastha</button>
                <button mat-menu-item>Sanyasa</button>
            </mat-menu>
            <button mat-menu-item>Work Shops</button>
            <button mat-menu-item>Sahal</button>
            <button mat-menu-item>Matru Bhojan</button>
            <button mat-menu-item>Sneha Milan</button>
            <button mat-menu-item>Satsang</button>
            <button mat-menu-item>Tracking</button>
            <button mat-menu-item>Our Events</button>
        </mat-menu>

        <button mat-button class="header-font">CONTACT US</button>
        <button mat-button class="sign-button" id="signup"> Sign Up</button>
    </div>
 
</div>