.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.text-black {
  color: #fff !important;
  padding: 0px 10px;
}

.logo-float {
  padding: 0px 95px;
}
.header-bar{
  background-color: #f26000;
  height: 65px;
  z-index: 10;
}
.logo-class{
  background-color: #f26000;
  border-radius: 41px;

}
.sticky-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 10px;
}
.header-font{
  color: #fff;
  outline: none;
}
.button-color{
  background-color: black !important; 
}
.button-color-header{
  background-color: black !important;
}

.nav-item-header {
  display: inline-block;
}

.nav-link-header:hover {
  background-color: grey;
  padding: 12px 10px;
  text-decoration-line: none;
  cursor: pointer;
}

.nav-right {
  float: right;
  padding-top: 3px;
}

.login-button{
  background-color: #f26000;
  color: #fff;
  border-color: #f26000;
  height: 38px;
  border-radius: 5px;
  width: 100%;
}

.login-link-forgot{
  padding-right: 15px;
  color: #007bff !important;
  cursor: pointer;
}

.login-link-forgot:hover {
  text-decoration: underline;
}

.sign-button {
  background-color: #f26000;
  color: #fff;
  border-color: #f26000;
  height: 38px;
  border-radius: 5px;
}

.open {
  position: absolute;
  padding: 0px;
  display: block;
  min-width: 10rem;
  box-shadow: 0 3px 10px hsl(0, 0%, 30%);
  background-color: #fff;
}

.nav-links {
  display: block;
  font-size: 12px;
}

.nav-links:hover {
  background-color: grey !important;
}

.nav-links-last {
  display: block;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content .dropdown-right:hover {
  background-color: #ddd;
}

.dropdown-right {
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-right:hover .dropdown-content-right {
  display: block;
}

.dropdown-content-right {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -33px;
  margin-left: 9.7%;
}

.dropdown-content-right a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-right a:hover {
  background-color: #ddd;
}
.sticky-header{
  background: #f26000;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  z-index: 3;
}
.logo-class-header{
  background-color: #f26000;
  border-radius: 41px;
}