<div class="footer-color">
    <div class="container footer-container">
        <div class="row col-md-12">
            <div class="col-md-2">
                <a href="./">
                    <img src="assets/images/spyss-logo-128.png" height="95" width="95" class="img-logo">
                </a>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="footer-link-color">QUICK LINKS</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="link">
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> Home</a>
                                    </li>
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> Mission</a>
                                    </li>
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> Branches</a>
                                    </li>
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> What we do</a>
                                    </li>
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> Register</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> About us</a>
                                    </li>
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> Vision</a>
                                    </li>
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> Events</a>
                                    </li>
                                    <li class="list-link">
                                        <i class="fa fa-angle-right"> </i>
                                        <a class="link-menu" href="./"> Who we are</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="footer-link-col">CONTACT US</h3>
                        <div>
                            <p class="para-color">
                                <i class="fa fa-address-book"> </i>
                                SHRI PATHANJALI YOGA MANDIRA,
                                Near Bailanjaneya temple,
                                Hanumantpura, Tumkur,
                                Karnataka, INDIA
                            </p>
                            <p class="para-color">
                                <i class="fa fa-mobile"> </i>
                                +91 0000000000
                            </p>
                            <p class="para-color">
                                <i class="fa fa-envelope"> </i>
                                info@spyss.org
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Copyright-color footer-container-copyright">
    <div class="container ">
        <div class="row col-md-12">
            <div class="col-md-6 para-color Copyright-bar">
                © Copyright 2018
                <a href="./" class="link-menu">SPYSS</a> - All Rights Reserved
            </div>
            <div class="col-md-6">
                <span class="fa fa-facebook Copyright-links"></span>
                <span class="fa fa-twitter Copyright-links"></span>
                <span class="fa fa-google-plus Copyright-links"></span>
                <span class="fa fa-instagram Copyright-links"></span>
                <span class="fa fa-youtube Copyright-links"></span>
                <span class="fa fa-linkedin Copyright-links"></span>
            </div>
        </div>
    </div>
</div>