.about-background{
    background-color: #e5e5e5;
    padding: 70px 0px;
}
.about-header{
    text-align: center;
    font-weight: bolder;
}
.about-para{
    display: inline-block;
    font-size: 15px;
    font-family: monospace;
}
.about-tube{
    display: inline-block;
}
.margin-about{
    margin-bottom: 20px;
}
.readmore-button{
    background-color: #f26000;
    color: #fff;
    border: 1px #f26000 solid;
    padding: 8px 6px;
    border-radius: 4px;
}
.button-align{
    text-align: center;
}

.om-background{
    /* background: url('/assets/images/om-square.png'); */
    background-color: turquoise;
    padding: 70px 10px;
}
.om-background .part1 , .om-background .part2{
    padding: 1% 8%;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}

.om-background h3 {
    margin: 8% 25%;
}
.om-background button {
    margin: 10% 35%;
}