<div class="about-background">
    <div class="container">
        <div class="margin-about">
            <h1 class="about-header">SPYSS</h1>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 about-tube">
                <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" width="460" height="430" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
             
            </div>
            <div class="col-md-6 about-para">
                <p>
                    SPYSS was started in 1980 as a small yoga camp at Tumkur, Karnataka and ever since grown to become a
                    large organization with 700+ branches across the world with more than 40,000+ voluntary teachers and
                    millions of Yoga practitioners. The samithi’s success attributes to the leadership of its Chief
                    Convener – Shri A R Ramaswamyanna, under the blessings of Holiness late Shri RaghavendraSwamiji of
                    Malladihalli, mentoring from late Shri Ajit Kumar and practice methodology of late Padmavibhushan Dr
                    B. K. S.Iyengar. The motto of SPYSS is defined as – Sanskara (value based behavior and
                    activities),Sanghatane (identifying oneself with a bigger cause) and Seve (service to humanity). To
                    achieve these objectives, SPYSS is bringing a silent transformation in the lives of millions of
                    people through its daily yoga classes. The transformation is reflected through daily conduct,
                    healthy life style, dynamic personality, harmonious family and positive approach to life. All these
                    contribute to a better society around us.</p>
                <div class="button-align">
                    <button class="readmore-button">
                        <i class="fa fa-file-text-o"></i>
                        READ MORE</button>
                </div>
            </div>
        </div>
    </div>
</div>