.event {
  max-width: 250px;
  height: auto;
}
.header {
  margin: 3% 35%;
}
.eventHolder {
  margin-bottom: 2%;
}
.page {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.container {
  margin-top: 10%;
}