<div class="description">
    <div class="container">
        <div class="col-md-6 contact-inline contact-margin">
            <h3>Contact Us</h3>
        </div>
        <div class="col-md-6 contact-inline contact-margin contact-text-align">
            <ul>
                <li class="contact-inline">
                   <a href="/home">home</a> 
                </li>
                <li class="contact-inline">
                    / Contact Us
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="container contact-padding">
    <div class="row">
        <div class="col-md-6 contact-text-align">
            <h3 class="footer-link-col">CONTACT US</h3>
            <div>
                <p class="para-color">
                    <i class="fa fa-address-book"> </i>
                    SHRI PATHANJALI YOGA MANDIRA,
                    Near Bailanjaneya temple,
                    Hanumantpura, Tumkur,
                    Karnataka, INDIA
                </p>
                <p class="para-color">
                    <i class="fa fa-mobile"> </i>
                    +91 0000000000
                </p>
                <p class="para-color">
                    <i class="fa fa-envelope"> </i>
                    info@spyss.org
                </p>
            </div>
        </div>
        <div class="col-md-6">
                <img src="assets/images/spyss-logo-128.png" height="100" width="100" id="imgageNav" class="img-pos">
        </div>
    </div>
</div>
<app-map></app-map>