<div class="icon-bar">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>
<div class="index-image">
  <!-- <mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets/images/Scroll/Class.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets/images/Scroll/yoga_home_page.png" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="assets/images/Scroll/tittle-inside-yoga-wallpaper.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel> -->
</div>

